body {

    background: linear-gradient(-45deg, #7acd5b, #ba35af);
    margin: 0;
    padding: 0;
    }
h1 {font-size:20px;text-align: center;
}

p.margin

h1{
    text-align: center;
}
h1{
    text-align: center;
}
h1
{
    text-align: center;
}

p
{
    text-align: center;
}